<div id="<%= dom_id link %>">
  <p>
    <strong>Original url:</strong>
    <%= link.original_url %>
  </p>

  <p>
    <strong>Short url:</strong>
    <%= link.short_url %>
  </p>

  <p>
    <strong>Clicked:</strong>
    <%= link.clicked %>
  </p>

</div>
